<div class="container">
    <div class="row">
            <main style="background-color: white;color: black;">
              <div class="py-5 text-center">
                <h2>Title NFT: {{this.nftcard.name}} </h2>
                <h2>Creatore: {{this.nftcard.username}} </h2>
              </div>
              <div class="row g-5">
                    <ul class="list-group mb-3">
                      <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                          <h4 class="my-0">Titolo</h4>
                          <p>{{this.nftcard.name}}</p>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                          <h4 class="my-0">Descrizione</h4>
                          <p>{{this.nftcard.description}}</p>
                        </div>
                      </li>
                      <li class="list-group-item justify-content-between">
                        <div>
                          <h4 class="my-0">Properties</h4>
                          <table class="table table-hover" style="background-color: white;color: black;">
                            <thead>
                                <tr>
                                  <th scope="col">Nome</th>
                                  <th scope="col">Value</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let i of dataSource">
                                  <th scope="row">{{i.name}}</th>
                                  <td>{{i.values}}</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between bg-light">
                        
                          <h4 class="my-0">Max Piece</h4>
                          <small>{{this.nftcard.max_piece}}</small>
                      </li>
                    </ul>
                </div>
            </main>
          </div>
</div>