<app-progress-spinner [displayProgressSpinner]="this.loading"></app-progress-spinner>
<div class="container p-3 mt-5">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="text-decoration-color: white;">
              <li class="breadcrumb-item"><a [routerLink]="['../../collect']">{{ 'app_pages.collect.title' | translate }}</a></li>
              <li class="breadcrumb-item active">{{ 'app_pages.collect.new-prescription' | translate }}</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <form [formGroup]="formNft">
        <div class="row mb-4 text-center">
            <h1 class="headline">{{ 'app_pages.collect.new-prescription' | translate }}</h1>
            <h3>{{ 'app_pages.collect.description' | translate }}</h3>
        </div>
    <!-- <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <ngx-dropzone [multiple]="false" [maxFileSize]="5000000" style="background-color: #0000002e;justify-content: center;align-items:center;display:inline-flex;width: 300px;height: 300px;" accept="image/jpeg,image/jpg,image/png,image/gif" (change)="onSelect($event)">
                    <ngx-dropzone-label>Drop it!</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f"></ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 magin-sm">
                <div class="container example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" inputmode="latin-name" maxlength="50" minlength="5" required formControlName="name" />
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descrizione</mat-label>
                            <textarea matInput rows="11" maxlength="420" type="text" formControlName="description"></textarea>
                        </mat-form-field>
                </div>
            </div> 
        </div> -->
        <div class="row justify-content-center">
            <div class="container example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{ 'form.general_input.name' | translate }}</mat-label>
                    <input matInput type="text" inputmode="latin-name" maxlength="50" minlength="5" required formControlName="name" />
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill" (change)="checkDescriptionSentiment()">
                    <mat-label>{{ 'form.general_input.description' | translate }}</mat-label>
                    <textarea matInput rows="11" maxlength="420" type="text" formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <mat-card>
                    <mat-card-title>
                        <h2 mat-card-title>{{ 'app_object.nft_card.ingredients.name' | translate }}</h2>
                        <p mat-card-subtitle>Puoi aggiungere fino ad un massimo di 10 ingredienti</p>
                    </mat-card-title>
                    <mat-card-content class="justify-content-center">
                        <table mat-table [contentEditable]="false" [align]="true" [fixedLayout]="true" [dataSource]="dataSource" #mytable class="mat-elevation-z0">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>{{ 'app_object.nft_card.ingredients.name' | translate }}</th>
                                <td mat-cell *matCellDef="let element" class="action-link"> {{element.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="values">
                                <th mat-header-cell *matHeaderCellDef>{{ 'app_object.nft_card.ingredients.quantity' | translate }}</th>
                                <td mat-cell *matCellDef="let element" class="action-link">{{element.values}}</td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let element" class="action-link"> 
                                    <button mat-flat-button (click)="openDialog('update',element)">{{ 'general_text.update' | translate }}</button> | 
                                    <button mat-flat-button (click)="openDialog('delete',element)">{{ 'general_text.delete' | translate }}</button>
                                </td>
                            </ng-container>
                
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                            <tr mat-row *matNoDataRow>
                                <td class="text-center" colspan="9999">
                                    <p>{{ 'app_object.table.nft_card.ingredients.no-data' | translate }}</p>
                                </td>
                            </tr>
                        </table>
                        <div class="row text-center">
                            <button mat-flat-button (click)="openDialog('add',{})" [disabled]="this.count >= 10">
                                <mat-icon style="margin-bottom: 4px;">add</mat-icon> Add row
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="container mt-4 mb-5">
            <div class="row">
                <mat-card>
                    <mat-card-content>
                        <br>
                        <div class="row justify-content-center" style="padding: 8px;">
                            <div class="col-1 text-start">
                                <mat-icon>warning</mat-icon>
                            </div>
                            <div class="col-8 col-sm-10 col-md-10 col-lg-10 text-start">
                                <h2>ciaso</h2>
                            </div>
                            <div class="col-1 text-start">
                                <mat-slide-toggle formControlName="content_explicit"></mat-slide-toggle>
                            </div>
                        </div>
                        <br>
                        <mat-divider></mat-divider>
                        <br>
                        <div class="row justify-content-center d-flex flex-md-equal text-center" style="padding: 8px;">
                            <mat-card class="example-card" [ngClass]="{'example-card-selected': this.class1}" (click)="this.onclickTmp('1')" #card1>
                                <mat-card-header>
                                </mat-card-header>
                                <img mat-card-image src="../../../assets/image/card/gold_card.png" width="150px" height="150px" />
                                <mat-card-content>
                                    <mat-card-title>{{ 'app_object.nft_card.type.gold' | translate }}</mat-card-title>
                                    <mat-card-subtitle>{{ 'app_object.nft_card.type.gold.description' | translate }}</mat-card-subtitle>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="example-card" [ngClass]="{'example-card-selected': this.class2}" (click)="this.onclickTmp('2')" #card1>
                                <mat-card-header>
                                </mat-card-header>
                                <img mat-card-image src="../../../assets/image/card/gold_card.png" width="150px" height="150px" />
                                <mat-card-content>
                                    <mat-card-title>{{ 'app_object.nft_card.type.silver' | translate }}</mat-card-title>
                                    <mat-card-subtitle>{{ 'app_object.nft_card.type.silver.description' | translate }}</mat-card-subtitle>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="example-card" [ngClass]="{'example-card-selected': this.class3}" (click)="this.onclickTmp('3')" #card1>
                                <mat-card-header>
                                </mat-card-header>
                                <img mat-card-image src="../../../assets/image/card/gold_card.png" width="150px" height="150px" />
                                <mat-card-content>
                                    <mat-card-title>{{ 'app_object.nft_card.type.bronze' | translate }}</mat-card-title>
                                    <mat-card-subtitle>{{ 'app_object.nft_card.type.bronze.description' | translate }}</mat-card-subtitle>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="example-card" [ngClass]="{'example-card-selected': this.class4}" (click)="this.onclickTmp('4')" #card1>
                                <mat-card-header>
                                </mat-card-header>
                                <img mat-card-image src="../../../assets/image/card/gold_card.png" width="150px" height="150px" />
                                <mat-card-content>
                                    <mat-card-title>{{ 'app_object.nft_card.type.common' | translate }}</mat-card-title>
                                    <mat-card-subtitle>{{ 'app_object.nft_card.type.common.description' | translate }}</mat-card-subtitle>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <mat-divider style="color: white;" class="mb-5"></mat-divider>
        <div class="container row justify-content-end">
            <button mat-raised-button style="width: 20%;" color="accent" (click)="this.createNft()">Create</button>
        </div>
    </form>
</div>