.spacer-toolbar {
    flex: 1 1 auto;
}

.selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.container-blocktail {
    display:block;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
  
.sidenav-content-blocktail {
    display: block;
    align-items: center;
    align-content: center;
    height: 100%;
}
  
.sidenav-blocktail {
    padding: 20px;
    width: 200px;
    align-items: center;
    align-content: center;
}