<app-progress-spinner [displayProgressSpinner]="this.loading"></app-progress-spinner>
<div class="container mt-5">
  <mat-accordion class="example-headers-align" multi  *ngIf="this.loading == false">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'profile.personal_data' | translate }}
          </mat-panel-title>
          <mat-panel-description>
              {{ 'profile.personal_data_text' | translate }}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>        
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
          <div class="row mt-3">
            <form [formGroup]="this.formUser" class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex">
                <mat-form-field class="example-full-width" appearance="fill" (change)="this.checkEmail()">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" value="{{this.user.email}}" inputmode="email" formControlName="email" required />
                    <mat-error></mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex">
                  <mat-form-field appearance="fill" style="width: 100%;">
                      <mat-label>username</mat-label>
                      <input matInput type="text" inputmode="latin-name" value="{{this.user.username}}" maxlength="12" min="1" formControlName="username" required />
                  </mat-form-field>
              </div>
              <div class="row" *ngIf="this.checkChange() == true">
                <mat-divider class="mb-3"></mat-divider>
                <div class="row justify-content-end">
                  <button mat-raised-button color="accent" style="width: 20%;" (click)="this.clickChangeEmailUsername()" [disabled]="this.checkChange() == false">Aggiorna</button>
                </div>
              </div>
            </form>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'profile.security_data' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ 'profile.security_data_text' | translate }}
              <mat-icon>security</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div class="row mt-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex">
                  <mat-form-field class="example-full-width" appearance="fill" (change)="this.checkEmail()">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" />
                      <mat-error></mat-error>
                  </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex">
                  <mat-form-field appearance="fill" style="width: 100%;">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" />
                  </mat-form-field>
              </div>
          </div>
        </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Privacy
          </mat-panel-title>
          <mat-panel-description>
            {{ 'profile.privacy_data_text' | translate}}
            <mat-icon>shield</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div class="row mt-3">

        </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>