<div class="text-center mt-5">
    <main class="form-signin">
        <div class="row">
            <h2>{{ 'app_pages.login.text-button-login' | translate }}</h2>
            <p>{{ 'app_pages.login.text-for-signup-redirect' | translate }} <a [routerLink]="['../signup']">{{ 'app_pages.login.link-text-for-signup-redirect' | translate }}</a></p>
        </div>
        <form [formGroup]="formLogin" class="example-form row" style="margin-top: 6px;">
            <p style="color: red;" *ngIf="this.messageError != null">{{this.messageError | translate}}</p>
            <mat-form-field class="example-full-width" appearance="fill" (change)="this.checkEmail()">
                <mat-label>Email</mat-label>
                <input matInput type="email" inputmode="email" formControlName="email" autocomplete="email" />
                <mat-error>{{getErrorEmail()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" autocomplete="current-password" />
                <mat-error>{{getErrorPassword()}}</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" [class.spinner-loading-button]="this.loadingForm == true" [disabled]="!formLogin.valid || this.loadingForm == true" class="example-full-width-button" color="primary" (click)="clickLogin()">
                {{ 'app_pages.login.text-button-login' | translate }}
            </button>
        </form>
    </main>
</div>