table {
    width: 100%;
}

.display-icon {
    transform: scale(4);
}

.full-width-button {
    width: 50%;
    height: 35px;
}

.example-card {
    max-width: 250px;
    margin: 5px;
    justify-content: center !important;
}

.example-card-selected {
    max-width: 250px;
    box-shadow: 40px;
    border-radius: 10px;
    border-color: aqua;
    border-style:groove;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.collect-row {
    justify-content: center !important;
}

@media(max-width: 550px) {
    .example-card {
        width: 150px;
        margin: 5px;
    }
    
    .example-card-selected {
        width: 150px;
        box-shadow: 40px;
        border-radius: 10px;
        border-color: aqua;
        border-style:groove;
    }

    .collect-row {
        justify-content:stretch !important;
    }
}